<footer>
  <section class="footer-menu">
    <div class="container footer-menu__inner-wrap">
      <div class="row">
        <div class="col-6 col-md-4 col-xl-2 footer-menu__item">
          <div class="footer-menu__item-title">Учащимся</div>
          <ul class="footer-menu__submenu">
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Расписание</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Преподаватели</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Документы</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Оплата</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Ссылка 3</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-4 col-xl-2 footer-menu__item">
          <div class="footer-menu__item-title">Абитуриен&shy;там</div>
          <ul class="footer-menu__submenu">
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Расписание</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Преподаватели</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Документы</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Оплата</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Ссылка 3</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-4 col-xl-2 footer-menu__item">
          <div class="footer-menu__item-title">Преподава&shy;те&shy;лям</div>
          <ul class="footer-menu__submenu">
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Расписание</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Преподаватели</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Документы</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Оплата</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Ссылка 3</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-4 col-xl-2 footer-menu__item">
          <div class="footer-menu__item-title">Конртолиру&shy;ю&shy;щим органам</div>
          <ul class="footer-menu__submenu">
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Расписание</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Преподаватели</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Документы</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Оплата</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Ссылка 3</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-4 col-xl-2 footer-menu__item">
          <div class="footer-menu__item-title">Новости и события</div>
          <ul class="footer-menu__submenu">
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Расписание</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Преподаватели</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Документы</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Оплата</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Ссылка 3</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-md-4 col-xl-2 footer-menu__item">
          <div class="footer-menu__item-title">О  колледже</div>
          <ul class="footer-menu__submenu">
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Расписание</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Преподаватели</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Документы</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Оплата</a>
            </li>
            <li>
              <a class="footer-menu__submenu-item" href="#" data-toggle="modal" data-target="#sorryModal">Ссылка 3</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-menu__color-line">
        <div class="footer-menu__color-line_lightblue"></div>
        <div class="footer-menu__color-line_blue"></div>
        <div class="footer-menu__color-line_yellow"></div>
      </div>
    </div>
  </section>
  <section class="container footer-copyright">
    <div class="row">
      <div class="col-xl-4 logo logo_footer">
        <div class="logo__img">
          <img src="img/logo.svg" alt="logo">
        </div>
        <div class="logo__text">
          СкСиС
        </div>
        <div class="logo__slogan">
          <span>Новый подход</span><span>к образованию</span>
        </div>
      </div>
      <div class="col-xl-4 footer-copyright__copyright">
        <div>
          <div class="footer-copyright__text">
            Сыктывкарский колледж сервиса и связи <span data-datetime="year">2016</span>.
          </div>
          <div class="footer-copyright__text">
            Все права защищены
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
