<header class="container header">
  <div class="row header__section-one">
    <div class="col-5 col-lg-4 col-xl-3">
      <a href="#" data-toggle="modal" data-target="#sorryModal">
        <div class="eye-problem hover-opacity">
          <div class="eye-problem__icon"></div>
          <div class="eye-problem__text">
            Версия для<br>слабовидящих
          </div>
        </div>
      </a>
    </div>
    <ul class="col-sm-4 col-xl-7 header__social social">
      <li class="social__item-wrap">
        <a href="http://facebook.com/" target="blanc">
          <div class="social__item social__item_fb">
            <span class="social__item-text">Мы в Facebook</span>
          </div>
        </a>
      </li>
      <li class="social__item-wrap">
        <a href="https://vk.com/" target="blanc">
          <div class="social__item social__item_vk">
            <span class="social__item-text">Мы Вконтакте</span>
          </div>
        </a>
      </li>
      <li class="social__item-wrap">
        <a href="https://www.instagram.com/" target="blanc">
          <div class="social__item social__item_insta">
            <span class="social__item-text">Мы Instagram</span>
          </div>
        </a>
      </li>
    </ul>
    <div class="col-7 col-lg-4 col-xl-2 header__sign">
      <button class="header__sign-btn" data-toggle="modal" data-target="#sorryModal">
        Регистрация
      </button>
      <button class="header__sign-btn" data-toggle="modal" data-target="#sorryModal">
        Вход
      </button>
    </div>
  </div>
  <hr class="header__line-separator">
  <div class="row header__section-two sticky">
    <div class="col-md-9 col-lg-5 col-xl-4 logo">
      <div class="logo__img">
        <img src="img/logo.svg" alt="logo">
      </div>
      <div class="logo__text">
        СкСиС
      </div>
      <div class="logo__slogan">
        <span>Новый подход</span><span>к образованию</span>
      </div>
    </div>
    <div class="col-md-4 tel">
      <a href="tel:+78212332454">
        <div class="tel__number">
          8 <mark class="tel__number-code">(8212)</mark> 332 454
        </div>
      </a>
      <div class="tel__text">
        <span>Телефон&nbsp;</span>
        <span> в Cыктывкаре</span>
      </div>
    </div>
    <div class="col-md-1 col-lg-1 col-xl-2 search__wrap hover-opacity">
      <div class="search">
        <span class="search__text">Поиск по сайту</span>
      </div>

    </div>
    <div class="col-6 col-sm-3 col-md-4 col-lg-2 schedule">
      <button class="schedule__btn hover-opacity" data-toggle="modal" data-target="#sorryModal">
        Расписание
      </button>
    </div>
    <input id="toggle-burger" type="checkbox" hidden>
    <div class="col-md-2 burger__wrap">
      <label class="burger" for="toggle-burger">
        <span class="burger__item burger__item_top"></span>
        <span class="burger__item burger__item_middle"></span>
        <span class="burger__item burger__item_bottom"></span>
      </label>
    </div>
    <nav class="col header__menu">
      <div class="header__menu-list-wrap">
        <ul class="header__menu-list">
          <li><a class="header__menu-item" href="#" data-toggle="modal" data-target="#sorryModal">Учащимся</a></li>
          <li><a class="header__menu-item" href="#" data-toggle="modal" data-target="#sorryModal">Абитуриентам</a></li>
          <li><a class="header__menu-item" href="#" data-toggle="modal" data-target="#sorryModal">Преподавателям</a></li>
          <li><a class="header__menu-item" href="#" data-toggle="modal" data-target="#sorryModal">Конртолирующим органам</a></li>
          <li><a class="header__menu-item" href="#" data-toggle="modal" data-target="#sorryModal">Новости и события</a></li>
          <li><a class="header__menu-item" href="#" data-toggle="modal" data-target="#sorryModal">О колледже</a></li>
        </ul>
        <div class="header__extra-menu">
          <div class="header__extra-menu_item tel_extra-menu">
            <a href="tel:+78212332454">
              <div class="tel__number">
                8 <mark class="tel__number-code">(8212)</mark> 332 454
              </div>
            </a>
            <div class="tel__text">
              <span>Телефон&nbsp;</span>
              <span> в Cыктывкаре</span>
            </div>
          </div>
          <div class="header__extra-menu_item schedule_extra-menu">
            <button class="schedule__btn hover-opacity" data-toggle="modal" data-target="#sorryModal">
              Расписание
            </button>
          </div>
          <ul class="header__extra-menu_item">
            <li class="social__item-wrap">
              <a href="http://facebook.com/" target="blanc">
                <div class="social__item social__item_fb">
                  <span class="social__item-text">Мы в Facebook</span>
                </div>
              </a>
            </li>
            <li class="social__item-wrap">
              <a href="https://vk.com/" target="blanc">
                <div class="social__item social__item_vk">
                  <span class="social__item-text">Мы Вконтакте</span>
                </div>
              </a>
            </li>
            <li class="social__item-wrap">
              <a href="https://www.instagram.com/" target="blanc">
                <div class="social__item social__item_insta">
                  <span class="social__item-text">Мы Instagram</span>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
