@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

ul {
    list-style: none;
}
a:hover {
    text-decoration: none;
}
main {
    margin-bottom: 95px;
}

.hover-opacity:hover {
    opacity: .5;
}
.hidden {
    display: none;
}

.header {
    padding-top: 22px;
    padding-bottom: 47px;
    background-color: #fff;
    z-index: 1;
}
.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 5px -6px #000;
}
.header.fixed .header__section-one,
.header.fixed .header__line-separator {
    display: none;
}

.header__section-one {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    padding-bottom: 28px;
}

.eye-problem {
    display: flex;
    align-items: center;
}
.eye-problem__icon {
    width: 30px;
    height: 20px;
    margin-right: 23px;
    background-image: inline("img/inline/eye_icon.svg");
}
.eye-problem__text {
    color: #333;
}

.header__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}
.social__item-wrap {
    margin-right: 34px;
}
.social__item {
    display: flex;
    align-items: center;
    color: #333;
}
.social__item:hover {
    opacity: .5;
}
.social__item:before {
    content: '';
    background-repeat: no-repeat;
}
.social__item_fb:before {
    width: 12px;
    height: 20px;
    background-image: inline("img/inline/social/fb.svg");
}
.social__item_vk:before {
    width: 28px;
    height: 18px;
    background-image: inline("img/inline/social/vk.svg");
}
.social__item_insta:before {
    width: 18px;
    height: 18px;
    background-image: inline("img/inline/social/insta.svg");
}
.social__item-text {
    padding-left: 12px;
}

.header__sign {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__sign-btn {
    border: none;
    background-color: transparent;
    height: 15px;
    line-height: 0;
    color: #333;
}
.header__sign-btn:hover {
    opacity: .5;
}
.header__sign-btn:nth-child(odd) {
    border-right: solid 1px #333;
}
.header__sign-btn:first-child {
    padding-left: 0;
}
.header__sign-btn:last-child {
    padding-right: 0;
}

.header__line-separator {
    margin: 0;
    border-top: 2px solid #D5EEFA;
}

.header__section-two{
    position: relative;
    padding-top: 34px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo__img {
    margin-right: 16px;
}
.logo__img img {
    width: 51px;
    height: 55px;
}
.logo__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #000;
    margin-right: 24px;
}
.logo__slogan {
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    color: #0C0C0C;
}

.tel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.tel__number {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #2B2B2B;
    margin-right: 20px;
    letter-spacing: -0.5px;
}
.tel__number-code {
    background-color: transparent;
    color: #7e7e7e;
}
.tel__text {
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
}

.tel_extra-menu {
    flex-direction: column;
    align-items: center;
}
.tel_extra-menu .tel__text {
    flex-direction: row;
}
.tel_extra-menu .tel__number {
    margin-right: 0;
}

.search__wrap {
    display: flex;
    justify-content: center;
}
.search {
    display: flex;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    cursor: pointer;
}
.search:before {
    content: '';
    background-image: inline("img/inline/search_icon.svg");
    margin-right: 12px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.schedule {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.schedule__btn {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 17px;
    color: #FFF;
    width: 140px;
    height: 40px;
    left: 1270px;
    top: 126px;
    background-color: #2DB4F8;
    border: none;
    border-radius: 2px;
}

.burger__wrap {
    display: none;
    justify-content: flex-end;
    align-items: center;
}
.burger {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 27px;
    max-width: 40px;
    min-width: 40px;
    margin: 0;
    cursor: pointer;
}
.burger:hover {
    opacity: .5;
}
.burger__item {
    display: block;
    background-color: #000;
    height: 3px;
    width: 40px;
    transition: all .3s ease-out 0s;
}
#toggle-burger:checked~.burger__wrap .burger {
    justify-content: center;
}
#toggle-burger:checked~.burger__wrap .burger__item_top,
#toggle-burger:checked~.burger__wrap .burger__item_bottom {
    position: absolute;
    top: 50%;
    transform-origin: center center;
}
#toggle-burger:checked~.burger__wrap .burger__item_top {
    transform: rotate(225deg);
}
#toggle-burger:checked~.burger__wrap .burger__item_middle {
    opacity: 0;
}
#toggle-burger:checked~.burger__wrap .burger__item_bottom {
    transform: rotate(-225deg);
}

.header__menu-list-wrap {
    background-color: #fff;
    width: 100%;
    z-index: 1;
}
.header__menu-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    padding-top: 71px;
    padding-left: 0;
    margin-bottom: 0;
}
.header__menu-item {
    color: #222;
}
.header__menu-item:hover {
    opacity: .5;
    color: #222;
}

.header__extra-menu {
    display: none;
    border-top: 1px solid #7e7e7e;
    padding-top: 25px;
}
.header__extra-menu_item {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    padding: 0;
}

.slider {
    position: relative;
}
.slide-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.slide.active {
    opacity: 1;
}
.slide_1 {
    background-image: url("img/students_1.jpg");
}
.slide_2 {
    background-image: url("img/students_2.jpg");
}
.slide_3 {
    background-image: url("img/students_3.jpg");
}

.banner {
    color: #fff;
    margin-bottom: 46px;
}
.banner__main {
    height: 380px;
}
.banner__about {
    height: 100%;
    padding-top: 21px;
    padding-left: 29px;
    padding-right: 29px;
    background-color: #37B9FB;
    opacity: 0.94;
    border-style: none none dotted none;
    border-color: #9979CD;
}
.banner__about-title {
    font-size: 27px;
    font-family: 'Exo 2', sans-serif;
    line-height: 32px;
}
.banner__about-statistics {
    padding-top: 35px;
}
.banner__statistics-item {
    display: flex;
    margin-bottom: 13px;
}
.banner__statistics-number {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    margin-right: 25px;
}
.banner__statistics-text {
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding-top: 9px;
}
.banner__statistics-text-word {
    margin-right: 8px;
}
.banner__footer {
    height: 100px;
}
.banner__btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #9979CD;
    opacity: 0.92;
}
.banner__btn {
    width: 266px;
    height: 50px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}
.banner__event {
    display: flex;
}
.banner__event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
    min-width: 125px;
    margin-left: -30px;
    background-color: #fff;
    color: #444444;
    padding-top: 7px;
    padding-bottom: 16px;
}
.banner__event-day {
    font-size: 48px;
    line-height: 56px;
}
.banner__event-month {
    font-size: 19px;
    line-height: 22px;
    font-weight: normal;
    margin-top: -4px;
}
.banner__event-text-wrap {
    position: relative;
    width: 100%;
}
.banner__event-text {
    background-color: #2B1E19;
    opacity: 0.6;
    padding: 16px 20px;
    width: 100%;
    height: 100%;
}
.banner__event-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.banner__event-subtitle {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}
.banner__event-subtitle-row {
    display: block;
}
.banner__event-flag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -30px;
    left: 0;
    width: 122px;
    height: 30px;
    background-color: #FFBF00;
    opacity: 1;
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
}

.articles {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 20px;
}
.articles__heder {
    display: flex;
    justify-content: space-between;
    height: 53px;
    padding-bottom: 31px;
    box-sizing: content-box;
}
.news__title {
    color: #000;
}
.news__title:first-letter {
    text-transform: uppercase;
}
.news__title-variant {
    font-size: 27px;
    font-weight: normal;
    line-height: 45px;
}
.news__btn-all-news {
    font-weight: 300;
    font-size: 18px;
    line-height: 1px;
    color: #505050;
    width: auto;
    height: 53px;
    background-color: transparent;
    border: none;
    padding: 0 4px;
}
.news__btn-all-news:hover {
    opacity: .5;
}
.article-news {
    margin-bottom: 50px;
}
.article-news:hover {
    opacity: .5;
}
.article-news__image {
    position: relative;
    height: 160px;
    margin-bottom: 18px;
    background-size: cover;
    background-repeat: no-repeat;
}
.article-news__image_news-1 {
    background-image: url("img/students_3.jpg");
}
.article-news__image_news-2 {
    background-image: url("img/students_4.jpg");
}
.article-news__date {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 21px;
    bottom: 0;
    width: 78px;
    height: 59px;
    background-color: #fff;
    padding: 15px 10px 14px;
    color: #000;
}
.article-news__day {
    font-weight: 500;
    font-size: 22px;
    line-height: 12px;
}
.article-news__title {
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 22px;
    color: #000
}
.article-news__subtitle {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000
}

.side-column {
    margin-bottom: 50px;
}
.side-column__title {
    font-size: 27px;
    font-weight: normal;
    line-height: 45px;
    color: #000;
}
.article-column {
    display: flex;
    align-items: flex-start;
    background-color: #D8F2FF;
    border-width: 5px;
    border-color: #fff;
    border-style: dotted;
    padding: 32px 22px 14px 14px;
    height: 154px;
    margin-bottom: -5px;
}
.article-column:hover {
    opacity: .5;
}
.article-column__image {
    min-width: 71px;
    min-height: 71px;
    border-radius: 50%;
    border: 3px solid #FFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.article-column__image_news-1 {
    background-image: url("img/face_3.jpg");
}
.article-column__image_news-2 {
    background-image: url("img/face_4.jpg");
}
.article-column__text {
    padding-left: 12px;
    overflow: hidden;
    height: 100%;
}
.article-column__title {
    display: block;
    font-size: 15px;
    line-height: 18px;
    color: #253239;
    margin-top: -3px;
    margin-bottom: 10px;
}
.article-column__subtitle {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #3C5764;
}

.content-block {
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 50px;
}
.content-block__title {
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
    margin-bottom: 35px;
    letter-spacing: -.1px;
}
.content-block__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
    padding-left: 15px;
    border: none;
    background-color: transparent;
    color: #505050;
    font-weight: 300;
    font-size: 18px;
}
.content-block__btn:hover {
    opacity: .5;
}
.tiles {
    perspective: 1700px;

}
.tiles__tile {
    height: 120px;
    font-size: 16px;
    line-height: 19px;
    perspective: 1700px;
    transition: all 2s ease;
}
.tiles__tile_color_withe {
    color: #fff;
}
.tiles__tile_color_black {
    color: #444;
}
.tiles__tile-text_bold {
    font-size: 48px;
    line-height: 39px;
    margin-bottom: 20px;
}

.tiles__tile-frontface {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px 15px 15px 12px;

    backface-visibility: hidden;
    transition: all 2s ease;
}
.tiles__tile:hover .tiles__tile-frontface{
    transform: rotateX(180deg);
}
.tiles__tile-frontface_background_blue-1 {
    background-color: #EDF9FF;
}
.tiles__tile-frontface_background_blue-2 {
    background-color: #D8F2FF;
}
.tiles__tile-frontface_background_blue-3 {
    background-color: #BDE6FB;
}
.tiles__tile-frontface_background_blue-4 {
    background-color: #2DB4F8;
}
.tiles__tile-frontface_background_blue-5 {
    background-color: #008CD3;
}
.tiles__tile-frontface_content_centred {
    display: flex;flex-direction: column;
    align-items: center;
}

.tiles__tile-backface {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: all 2s ease;
}
.tiles__tile:hover .tiles__tile-backface{
    transform: rotateX(360deg);
}
.tiles__tile-backface_background_img-1 {
    background-image: url("img/economy.jpg");
}
.tiles__tile-backface_background_img-2 {
    background-image: url("img/post.jpg");
}
.tiles__tile-backface_background_img-3 {
    background-image: url("img/aesthetics.jpg");
}
.tiles__tile-backface_background_img-4 {
    background-image: url("img/operator.jpg");
}
.tiles__tile-backface_background_img-5 {
    background-image: url("img/insurance.jpg");
}
.tiles__tile-backface_background_img-6 {
    background-image: url("img/ways.jpg");
}

.info-card {
    display: flex;
    flex-direction: column;
}
.info-card:hover {
    opacity: .5;
}
.info-card__img {
    position: relative;
    height: 170px;
    margin-bottom: 20px;
    background-image: url("img/director.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-card__badge {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 141px;
    background-color: #2DB4F8;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    padding: 2px 14px 8px 22px;
}
.info-card__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #000;
}

.people-list {
    display: flex;
    flex-direction: column;
    max-height: 256px;
    overflow-y: scroll;
}
.people-list__item {
    display: flex;
    max-height: 70px;
    min-height: 70px;
    margin-left: 12px;
}
.people-list__item:not(:last-child) {
    margin-bottom: 20px;
}
.people-list__image {
    min-width: 70px;
    min-height: 70px;
    margin-right: 22px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #959595;;
}
.people-list__text {
    display: flex;
    flex-direction: column;
}
.people-list__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
.people-list__subtitle {
    font-weight: normal;
    font-size: 14px;
}
.people-list__image_avatar-1 {
    background-image: url("img/face_1.jpg");
}
.people-list__image_avatar-2 {
    background-image: url("img/face_2.jpg");;
}
.people-list__image_avatar-3 {
    background-image: url("img/face_5.jpg");;
}

.footer-menu {
    background-color: #3C3C3C;
    color: #fff;
    padding-top: 54px;
    padding-bottom: 55px;
    border-style: dotted none none none;
}
.footer-menu__inner-wrap {
    position: relative;
}
.footer-menu__item {
    margin-bottom: 30px;
    word-break: break-word;
}
.footer-menu__item-title {
    font-weight: normal;
    font-size: 19px;
    margin-bottom: 22px;
}
.footer-menu__submenu {
    font-weight: 300;
    font-size: 16px;
    padding-left: 0;
}
.footer-menu__submenu-item {
    display: block;
    line-height: 20px;
    color: #fff;
}
.footer-menu__submenu-item:hover {
    color: #fff;
    opacity: .5;
}
.footer-menu__color-line {
    display: flex;
    position: absolute;
    bottom: -55px;
    left: 15px;
    height: 8px;
}
.footer-menu__color-line_lightblue {
    height: 100%;
    width: 95px;
    background-color: #6DCEFF;
}
.footer-menu__color-line_blue {
    height: 100%;
    width: 95px;
    background-color: #2DB4F8;;
}
.footer-menu__color-line_yellow {
    height: 100%;
    width: 74px;
    background-color: #FFBF00;
}

.footer-copyright {
    padding-top: 40px;
    padding-bottom: 36px;
}
.footer-copyright__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 15px;
}

@media (max-width: 1200px) {
    .header__social {
        justify-content: center;
    }
    .social__item-wrap:last-child {
        margin-right: 0;
    }
    .social__item-text {
        display: none;
    }
    .footer-menu {
        padding-bottom: 0;
    }
    .footer-menu__color-line {
        bottom: 0;
    }
    .logo_footer {
        justify-content: center;
    }

    .search__text {
        display: none;
    }
    .header__menu-list {
        font-size: 17px;
    }

    .footer-copyright__text {
        text-align: center;
        margin-top: 10px;
    }
}
@media (max-width: 992px) {
    .header__social {
        display: none;
    }
    .tel {
        display: none;
    }
    .search:before {
        margin-right: 0;
    }
    .schedule {
        display: none;
        justify-content: center;
    }
    .burger__wrap {
        display: flex;
    }
    .header__menu {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        box-shadow: 0 5px 10px -5px rgba(0,0,0,.2);
    }
    #toggle-burger:checked~.header__menu {
        display: block;
    }
    .header__menu-list-wrap {
        position: absolute;
        top: 0;
        transform: translateX(-15px);
    }
    .header__menu-list {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
    .header__menu-list li {
        margin-bottom: 15px;
    }
    .header__extra-menu {
        display: block;
    }

    main {
        margin-bottom: 0;
    }

    .slide-list {
        position: relative;
        width: 100%;
        height: 300px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .banner {
        background-image: none;
    }
    .banner__img {
        display: block;
        height: 330px;
    }
    .banner__main {
        height: auto;
    }
    .banner__about-statistics {
        padding-top: 20px;
    }
    .banner__statistics-text {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .banner__statistics-item {
        margin-bottom: 0;
    }
    .banner__footer {
        height: auto;
    }
    .banner__btn {
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .banner__event-date {
        margin-left: auto;
        border: 1px solid rgba(43, 30 ,25, .6);
        border-top: none;
        border-right: none;
    }
    .articles__heder {
        padding-bottom: 15px;
    }
    .content-block__title {
        margin-bottom: 30px;
    }
}
@media (max-width: 768px) {

    .header__social {
        justify-content: space-between;
    }
    .logo {
        justify-content: center;
    }
    .search__wrap {
        position: absolute;
        left: 0;
        height: 50px;
        justify-content: flex-start;
    }
    .burger__wrap {
        position: absolute;
        right: 0;
        height: 50px;
    }

    .slide-list {
        height: 200px;
    }

    .banner__img {
        height: 245px;
    }
    .banner__about {
        padding-bottom: 25px;
    }
    .banner__event-subtitle {
        font-size: 15px;
    }

}
@media (max-width: 576px) {
    .header {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .header__section-one {
        padding-bottom: 10px;
        font-size: 15px;
    }
    .header__section-two {
        padding-top: 15px;
    }
    .eye-problem__icon {
        display: none;
    }
    .header__sign {
        flex-direction: row;
    }
    .header__sign-btn:nth-child(odd) {
        border-right: solid 1px #333;
    }
    .logo__img img {
        height: 50px;
        width: auto;
    }
    .logo__text {
        font-size: 30px;
        margin-right: 0;
    }
    .logo__slogan {
        display: none;
    }

    .slide-list {
        height: 160px;
    }

    .banner__img {
        height: 200px;
    }
    .banner__event-subtitle {
        display: none;
    }
    .banner__event-text {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner__event-title {
        text-align: center;
        line-height: 30px;
    }
}
